<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>DEVICE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>sirius</string>
              <string>leo</string>
              <string>castor</string>
              <string>castor_windy</string>
              <string>honami</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>none</string>
              <string>-eng</string>
              <string>-userdebug</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ROM_BUILDTYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>HOMEMADE</string>
              <string>NIGHTLY</string>
              <string>WEEKLY</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OMNI_PICK_TOPICS</name>
          <description>Topics to pick (omni gerrit)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CHOOSEA_PICK_TOPICS</name>
          <description>Topics to pick (choose-a gerrit)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OMNI_PICK_NUMBER</name>
          <description>IDs to pick from omni gerrit.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CHOOSEA_PICK_NUMBER</name>
          <description>IDs to pick from choose-a gerrit.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Icedtea 8 - Binary version</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ${TYPE} == &quot;none&quot; ]; then
	TYPE=&quot;&quot;
fi

cd /mnt/android/omnio/
. build/envsetup.sh

### Sync
repo sync

### Apply omni changes from gerrit
for topic in OMNI_PICK_TOPICS; do
	repopick -t topic
done

for num in OMNI_PICK_NUMBER; do
	repopick -t num
done

### Apply choose-a changes from gerrit
for topic in OMNI_PICK_TOPICS; do
	~/home/tools/repopickc.py -t topic
done

for num in OMNI_PICK_NUMBER; do
	~/home/tools/repopickc.py number
done

../tools/buildomni.sh ${DEVICE} &quot;&quot; ${ROM_BUILDTYPE}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>diewald@diewald-net.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>