<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.gem.persistentparameter.PersistentChoiceParameterDefinition plugin="persistent-parameter@1.1">
          <name>DEVICE</name>
          <description></description>
          <choices>
            <string>z2</string>
            <string>leo</string>
            <string>castor</string>
            <string>castor_windy</string>
            <string>honami</string>
          </choices>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentChoiceParameterDefinition plugin="persistent-parameter@1.1">
          <name>TYPE</name>
          <description></description>
          <choices>
            <string>-eng</string>
            <string>-userdebug</string>
            <string>-user</string>
          </choices>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentChoiceParameterDefinition plugin="persistent-parameter@1.1">
          <name>ROM_BUILDTYPE</name>
          <description></description>
          <choices>
            <string>HOMEMADE</string>
            <string>NIGHTLY</string>
            <string>WEEKLY</string>
          </choices>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentTextParameterDefinition plugin="persistent-parameter@1.1">
          <name>OMNI_PICK_TOPICS</name>
          <description>Topics to pick (omni gerrit)</description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentTextParameterDefinition>
        <com.gem.persistentparameter.PersistentTextParameterDefinition plugin="persistent-parameter@1.1">
          <name>OMNI_PICK_NUMBER</name>
          <description>IDs to pick from omni gerrit.</description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentTextParameterDefinition>
        <com.gem.persistentparameter.PersistentTextParameterDefinition plugin="persistent-parameter@1.1">
          <name>LINEAGE_PICK_NUMBER</name>
          <description>IDs to pick from lineage&apos;s gerrit.</description>
          <defaultValue></defaultValue>
          <successfulOnly>false</successfulOnly>
        </com.gem.persistentparameter.PersistentTextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Icedtea 8 - Binary version</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ${TYPE} == &quot;none&quot; ]; then
	TYPE=&quot;&quot;
fi

cd /mnt/android/omnio/
. build/envsetup.sh

### Sync
repo sync

### Apply omni changes from gerrit
for topic in $OMNI_PICK_TOPICS; do
	repopick -t &quot;${topic}&quot;
done

for num in $OMNI_PICK_NUMBER; do
	~/home/tools/repopick.py -f $num
done

### Apply choose-a changes from gerrit
for topic in $CHOOSEA_PICK_TOPICS; do
	~/home/tools/repopick.py -g &quot;https://review.choose-a.name&quot; -t &quot;${topic}&quot;
done

for num in $CHOOSEA_PICK_NUMBER; do
	~/home/tools/repopick.py -g &quot;https://review.choose-a.name&quot; -f $num
done

for num in $LINEAGE_PICK_NUMBER; do
	~/home/tools/repopick.py -g &quot;https://review.lineageos.org&quot; -u &apos;LineageOS/&apos; -f $num 
done

~/home/tools/buildomni.sh ${DEVICE} &quot;&quot; ${ROM_BUILDTYPE}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>diewald@diewald-net.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>