<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>DEVICE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>sirius</string>
              <string>castor</string>
              <string>castor_windy</string>
              <string>honami</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_CMD</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Icedtea 8 - Binary version</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

## Mapping
if [ $DEVICE == &quot;castor&quot; ]; then
   DEVICE_CODE=&quot;sgp521&quot;
elif [ $DEVICE == &quot;castor_windy&quot; ]; then
   DEVICE_CODE=&quot;sgp511&quot;
elif [ $DEVICE == &quot;honami&quot; ]; then
   DEVICE_CODE=&quot;c6903&quot;
elif [ $DEVICE == &quot;sirius&quot; ]; then
   DEVICE_CODE=&quot;d6503&quot;
fi
##


cd /mnt/android/sonyxperiadev

./buildaosp.sh ${DEVICE} ${DEVICE_CODE} ${BUILD_CMD}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients>diewald@diewald-net.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>